*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
}

nav{
    display: flex;
    height: 60px;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    margin-top:20px ;
    margin-left: 20px;
}
.nav-container div{
    margin-inline: 20px;
}

.nav-container2{
    display: flex;
    margin-top: 20px;
    margin-right: 20px;

}

.nav-container2 div{
    margin-inline: 20px;
}
.nav-bottom{
    border: solid rgb(65, 65, 250) ;
    background-color: rgb(65, 65, 250);
    width: 50px;
    color: white;
    height: 30px;
    margin-top: -20px;
}

.section1{
    background-color: rgba(126, 192, 212, 0.984);
    padding-top: 50px;
}

.container1{
    display: flex;
    max-width:900px;
    margin: auto;
    gap: 1rem;
    margin-top: 30px;
}

div img{
    width: 100%;
  
}

.first-image{
position: relative;
top: 70px;

}
.description{
    flex-basis:50% ;
   
   
}

h1{
    font-size: 60px;
    width: 750px;
    margin: auto;
}

.description *{
    margin-top: 30px;
}

.blue-button{
    border: solid rgb(73, 136, 250) ;
    background-color: rgb(73, 136, 250);
    width: 200px;
    height: 30px;
    color: white;
}

.description i{
    font-size: 30px;
}

.container2-description{
    margin-top: 100px;
}

.container2-description h2{
  font-size: 40px;
}

.cerchi{
    display: flex;
    margin-top: 40px;
    
}

.button1{
border: rgb(58, 97, 171) 15px ;
background-color:white;
border-width: 4px;
border-style: solid;
border-radius: 100%;
height: 15px;
width: 15px;
padding-top: 7px;
}

.button2{
    border: grey;
    background-color:white;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    padding-top: 7px;
    margin-left: 50px;  
 }

.main-container{
    margin: auto;
    max-width: 900px;
}

.container2-image{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 40px;
}

.cards{ 
    width: calc((100% -  3rem * (3 - 1)) / 3);
    align-items: stretch;
    border: solid 1px grey;
}

.card-container h2{
margin-bottom: 20px;

}
.item-card{
    text-align: center;
    border: solid 1px grey;
}

.cards ul{
    list-style: none;
    margin-top: 40px;
}

.card-container{
    margin: 30px;
    
}
div a {
    color: rgb(0, 105, 252);
}

ul li{
    margin-top: 30px;
}
hr{
   
    margin-top: 40px;
    margin-bottom: 40px;
    width: 20%;
}
.check-blue {
    color: blue;
}
.grey-parol{
    color: rgba(58, 91, 101, 40%)
}

.horizontal-card{
    border: solid 1px grey;
    
    
}

.flex-item{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-inline: 20px;
}

.horizontal-card h3{
    margin-left: 20px;
}
.horizontal-card p{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section3{
    display: flex;
    margin-top: 100px;
    gap: 5rem;
}
.container-text2{
    margin-top: 50px;
}
.container-text2 p{
    margin-top: 30px;
}
.container-text2 button{
    margin-top: 30px;
    border: solid  grey;
    background-color: white;
    height: 40px;
    width: 120px;
}
.section4{
    margin-top: 50px;
}
.section4 >h2{
    font-size: 40px;
}
.container4{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.cards2{
    width: 30%;
}
.cards2 p{
    margin-top: 20px;
}