*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    height: 60px;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    margin-top:20px ;
    margin-left: 20px;
}
.nav-container div{
    margin-inline: 20px;
}

.nav-container2{
    display: flex;
    margin-top: 20px;
    margin-right: 20px;

}

.nav-container2 div{
    margin-inline: 20px;
}
.nav-bottom{
    border: solid rgb(65, 65, 250) ;
    background-color: rgb(65, 65, 250);
    width: 50px;
    color: white;
    height: 30px;
    margin-top: -20px;
}

.section1{
    background-color: rgba(126, 192, 212, 0.984);
    padding-top: 50px;
}

.container1{
    display: flex;
    max-width:900px;
    margin: auto;
    gap: 1rem;
    margin-top: 30px;
}

div img{
    width: 100%;
    
}
.description{
    flex-basis:50% ;
   
   
}

h1{
    font-size: 60px;
    width: 750px;
    margin: auto;
}

.description *{
    margin-top: 30px;
}

.description button{
    border: solid rgb(73, 136, 250) ;
    background-color: rgb(73, 136, 250);
    width: 200px;
    height: 30px;
    color: white;
}

.description i{
    font-size: 30px;
}